/* task1 */
h1 {
    text-align: center;
    color: orange;
    font-size: 30px;
    font-weight: bold;
}
h2#fir {
    color: orange;
    font-weight: bold;
}
h2#sec {
    color: blue;
    font-weight: bold;
}
task1 p:first-letter {
    color: red;
    font-size: larger;
}
.markup {
    background-color: green;
    color:white;
    font-style: italic;
}
ul {
    font-weight: bold;
}
ol > li {
    font-weight: normal;
}
ol#grey > li {
    color:grey;
}
ol.red > li {
    color:red;
}
ol#greed > li {
    color:green;
}
table.tbl1 {
    width: 25%;
    border: solid 1px;
}
table.tbl1 td {
    border: solid 1px black;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}
td.names {
    text-align: left;
    color:orange;
    background-color: white;
    font-weight: normal;
}
tr.markup > td {
    font-weight: normal;
}
/* task2 */
task2 p:first-letter {
    color: red;
    font-size: larger;
}
task2 p:last-of-type
{
    color: #999;
}
/* task3 */
task3 p:first-letter {
    color: #2233ff;
    font-size: 300%;
}
task3 p:last-of-type {
    font-size: 300%;
    color: #fff000;
}
task3_1 p:first-letter {
    font-size: 300%;
    background-color: red;
    color: white;
}
task3_1 p:last-of-type {
    font-size: 300%;
    background-color: #000000;
    color: white;
}
/* task4 */
a.our {
    text-decoration: none;
}
a.our:hover {
    color:#f70;
}
a.ya {
    text-decoration: none;
    color:#f70;
}
a.ya:hover {
    color:blue;
}
a.ya2 {
    color:#f70;
}
a.ya2:after {
    content: "⇱";
    transform: scale(-1, 1);
    display: inline-block;
    text-decoration:none;
}
a.ya2:hover {
    color:blue;
    text-decoration: none;
}
a.go {
    color:#666;
    text-decoration: none;
}
a.go:hover {
    color:black;
}
/* task5 */
table.tbl2 {
    border-collapse: collapse;
    width: 50%;
}
table.tbl2 tr:nth-last-child(odd){
    background-color:#ddebf7;
}
table.tbl2 td:nth-of-type(2n+3) {
    background-color:#f2f2de;
}
table.tbl2 td {
    padding: 8px;
    border-bottom: solid 1px #ddd;
}
/* task6 */

input{
    display: none;
}
label {
    text-decoration: underline;
}
span{
    border-radius: 9px;
    text-align: center;
    padding: 3px 6px 3px 6px;
    margin: 0 0 0 5px;
}
span.red{
    color:white;
    background-color: red;
}
span.green{
    color:white;
    background-color: green;
}
span.blue{
    color:white;
    background-color: blue;
}
input:checked[name="red"] ~ .red{
    display: none;
}
input[name="red"] + label {
    color: #ffc6c1;
}
input[name="green"] + label {
    color: #b2ffb5;
}
input[name="blue"] + label {
    color: #a2f0ff;
}
input:checked[name="red"] + label {
    color: red;
}
input:checked[name="green"] ~ .green{
    display: none;
}
input:checked[name="green"] + label {
    color: green;
}
input:checked[name="blue"] ~ .blue{
    display: none;
}
input:checked[name="blue"] + label {
    color: blue;
}
