body{
    margin: 0;
    position: relative;
    background: url("Layer.jpg")repeat-x;
    font-family: Trebuchet MS;
}
div#paranja{
    background-color: #220b3a;
    position: absolute;
    opacity: 0.8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
div#main{
    z-index: 1;
    height: 295px;
    padding: 20px 0 0 0;
}
.main-container{
    margin: 0;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content:center;
    z-index: 5;
}
.flex-img {
    background: url("girl.jpg");
    width: 100px;
    height: 100px;
    z-index: 5;
}
.flex-img2 {
    background: url("man.jpg");
    width: 100px;
    height: 100px;
    margin: 0 0 0 40px;
    z-index: 5;
}
.flex-trig{
    box-sizing: border-box;
    border: 15px solid transparent;
    border-right: 15px solid #f7f7f7;
    z-index: 5;
}
.flex-comm{
    background: #f7f7f7;
    width: 370px;
    height: 100px;
    color: black;
    text-align: left;
    position: relative;
    z-index: 5;
}
.flex-comm p{
    font-size: 14px;
    margin: 0 10px;
}
.flex-comm span{
    font-size: 14px;
    margin: 0 10px;
}
p#h1{
    font-size: 50px;
    color: #3371a6;
    text-align: center;
    margin: 0 0 40px 0;
    z-index: 5;
}
p#h1 span{
    color: #ee8129;
}
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin: 40px 10px 15px 10px;
}
span.sleft{
    color:dodgerblue;
    position: absolute;
    left: 10px;
    top: 10px;
    font-style: italic;
}
span.sright{
    color:dodgerblue;
    position: absolute;
    right: 10px;
    top: 10px;
    font-style: italic;
}