@font-face {
    font-family: UniversLTStd-Cn;
    src: url(../fonts/universltstd.ttf);
}
@font-face {
    font-family: Platin;
    src: url(../fonts/PlantinC.otf);
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xzt111');
    src:  url('../fonts/icomoon.eot?xzt111#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xzt111') format('truetype'),
    url('../fonts/icomoon.woff?xzt111') format('woff'),
    url('../fonts/icomoon.svg?xzt111#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, p, h1, h2, ul {
    margin: 0;
    background: #f3f3e7;
    font-family: UniversLTStd-Cn;
}
.main-wrapper{
    height: 100%;
}
.player{
    height: 35px;
    background: #000;
}
.slider{
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.slider1, .slider2, .slider3, .slider4{
    display: none;
}
.active{
    display: block;
}
.row{
    margin: 0;
}
.to-white{
    width: 100%;
    background: #fff;
}
.nav{
    height: 83px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    position: relative;
    background: transparent;
}
.nav-center{
    line-height: 81px;
}
.menu{
    display: inline;
    position: absolute;
    right: 0;
    padding: 0;
    background: transparent;
}
.menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 18px;
    line-height: normal;
}
.menu li:not(:nth-child(1))>a{
    color: black;
}
.menu li>a:hover{
    color: #53adc7;
    text-decoration: none;
}
.nav-home{
    border-bottom: solid 3px #53adc7;
    color:#53adc7;
    padding-bottom: 1px;
}
.mini-logo{
    text-transform: uppercase;
    display: inline;
    left:0;
    font-size:22px;
    background: transparent;
    font-family: Platin;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    border: none;
    top:18px;
    left: -10px;
    box-shadow: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
    border-radius: 0;
}
.dropdown-menu li{
    margin: 0;
}
.dropdown-menu>li:first-child>a {
    margin-top: 10px;
}
.dropdown-menu>li:last-child>a{
    margin-bottom: 10px;
}
.dropdown-menu li> a{
    margin: 2px 12px;
    padding: 0;
}
.dropdown-menu li> a:hover{
    color: #53adc7;
    background-color: transparent;
}
.dropdown-menu li:focus{
    background-color: transparent;
}
.join{
    background: #172838;
    height: 168px;
    border-top: solid 1px #172838;
    border-bottom: solid 1px #172838;
    text-align: center;
}
.join_h1{
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    background: transparent;
}
.email_add{
    border: none;
    border-bottom: solid 4px #fff;
    background: transparent;
    height: 35px;
    margin-top: 20px;
    width: 400px;
    display: inline;
    font-size: 22px;
    color: #fff;
}
input::placeholder{
    font-size: 22px;
    color: #fff;
}
input:focus{
    outline: none;
}
.email_button{
    height: 48px;
    color: #fff;
    background: #53adc7;
    border: 0;
    padding: 0 50px;
    font-size: 22px;
    margin-left: 10px;
    position: relative;
}
.email_button:hover{
    color: #000;
    background: #fff;
}
.email{
    display: inline-block;
    position: relative;
}
.terms {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.terms a{
    font-size: 12px;
    color: #8a8e94;
    text-transform: uppercase;
}
.terms a:hover{
    text-decoration: underline;
}
.content-wrapper{
    margin: 0 auto;
    max-width: 1203px;
}
.news{
    text-transform: uppercase;
}
.news-header{
    width: 100%;
    padding: 56px 0 25px;
}
.news-logo{
    display: inline;
    font-size:40px;
    color:#252525;
}
.news-button{
    background: #53adc7;
    border: 0;
    font-size: 15px;
    height: 27px;
    text-transform: uppercase;
    line-height:27px;
    vertical-align: middle;
    float: right;
    margin-top: 15px;
}
.news-button>a{
    color: #fff;
    text-decoration: none;
    padding: 0 29px;
}
.news-button:hover{
    background: #172838;
}
.news-view{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.news-1st, .news-2nd, .news-3nd{
    width: 32%;
    min-height: 506px;
    list-style-type: none;
    display: inline-block;
    background: #fff;
    line-height: 1.2;
}
.img-1st, .img-2nd, .img-3nd{
    width: 100%;
    padding-bottom: 55%;
}
.img-1st{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/201610/photo-credit-brian-bowen-smith-medium_1462485322527.jpg");
    background-size:cover;
}
.img-2nd{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/360___192/public/201705/18238896_727228634105042_1209868961482502912_o.jpg?itok=4eKuo_oA");
    background-size:cover;
}
.img-3nd{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/360___192/public/201704/Screen%20Shot%202017-04-28%20at%207.53.45%20AM.png?itok=hg1HBdTQ");
    background-size:cover;
}
.news-date{
    font-size: 24px;
    color: #53adc7;
    padding: 34px 22px 22px;
    background:#fff;
}
.news-goto{
    font-size: 30px;
    color:#252525;
    display: block;
    padding: 0px 22px 8px;
}
.news-goto:hover{
    color: #53adc7;
    text-decoration: none;
}
.news-read-more{
    font-size: 15px;
    color: #53adc7;
    padding: 0px 0px 55px 22px;
    display: block;
}
.news-read-more:hover{
    color: #252525;
    text-decoration: none;
}
.instagram{
    text-transform: uppercase;
}
.instagram-header{
    width: 100%;
    padding: 56px 0 25px;
}
.insta-link{
    color: #53adc7;
    text-transform: none;
    font-size:32px;
}
.instagram-logo{
    display: inline;
    font-size:40px;
    color:#252525;
}
.instagram-button{
    background: #53adc7;
    border: 0;
    font-size: 15px;
    height: 27px;
    text-transform: uppercase;
    line-height:27px;
    vertical-align: middle;
    float: right;
    margin-top: 15px;
}
.instagram-button:hover{
    background: #172838;
}
.instagram-button>a{
    color: #fff;
    text-decoration: none;
    padding: 0 29px;
}
.instagram-view {
    font-size: 0;
    padding: 0;
}
.instagram-view li{
    display: inline-block;
    width: 23.875%;
    height: 287px;
    cursor: pointer;
    background-size:cover;
    position: relative;
}
.instagram-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5%;
}
.instagram-photo1{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201705/18252652_115198955656359_5315283652437868544_n.jpg?itok=Mj3wiSda");
}
.instagram-photo2{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201705/18253324_451827808501387_3242090105296388096_n.jpg?itok=F20nq4bK");
}
.instagram-photo3{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201705/18298345_1890898264512819_8639106469981061120_n.jpg?itok=oecBXjvf");
}
.instagram-photo4{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201705/18162017_173421756516168_5427739644437463040_n.jpg?itok=MlUXnMhB");
}
.instagram-photo5{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201705/18252255_1079393555493599_6120769666034958336_n_0.jpg?itok=Yv45C9CS");
}
.instagram-photo6{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201705/18253271_665662060289397_8536123745612333056_n.jpg?itok=AYVoyrXU");
}
.instagram-photo7{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201704/18161056_1701970233437270_6806397693749886976_n.jpg?itok=JrhJIXAE");
}
.instagram-photo8{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/500_500/public/201704/18160567_231030647380367_5275430865646649344_n.jpg?itok=8i_X0F49");
}
.insta-video{
    position: absolute;
    top:10px;
    right: 10px;
    width: 26px;
    height: 26px;
    background: url("../img/instagram_0.png");
    background-size:100%;
}
.video{
    text-transform: uppercase;
    padding-bottom: 70px;
}
.video-header{
    width: 100%;
    padding: 56px 0 25px;
}
.video-logo{
    display: inline;
    font-size:40px;
    color:#252525;
    margin-left: 450px;
}
.video-button{
    background: #53adc7;
    border: 0;
    font-size: 15px;
    height: 27px;
    text-transform: uppercase;
    line-height:27px;
    vertical-align: middle;
    float: right;
    margin-top: 15px;
}
.video-button:hover{
    background: #172838;
}
.video-button>a{
    color: #fff;
    text-decoration: none;
    padding: 0 29px;
}
.video-view{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.video-view li{
    background-size:cover;
    cursor: pointer;
    width: 48.5%;
    height: 443px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-photo1{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/video_category_480_360/public/media-youtube/43ZKN5C0Xmk.jpg?itok=hhPioGfg");
}
.video-photo2{
    background: url("http://www.joshgroban.com/sites/g/files/g2000006141/f/styles/video_category_480_360/public/media-youtube/fXnRf3TQcpk.jpg?itok=DfiY329i");
}
.video-push{
    width:82px;
    height: 82px;
    background: url("../img/video-play1.png");
    background-position: 0 0;
}
.video-push:hover{
    width:82px;
    height: 82px;
    background: url("../img/video-play1.png");
    background-position: 82px 82px;
}
.fan-shop{
    display: flex;
}
.shop{
    flex:1;
    background: #4795ac;
    display: inline-block;
    width: 50%;
}
.tweeter{
    flex: 1;
    background: #172838;
    display: inline-block;
    width: 50%;
}
.shop-content{
    max-width:665px;
    padding: 43px 70px 44px;
    margin: 0 0 0 auto;
    box-sizing: content-box;
}
.shop{
    text-transform: uppercase;
    padding-bottom: 70px;
}
.shop-header{
    position: relative;
    padding-bottom: 34px;
}
.shop-logo{
    display: inline;
    font-size:40px;
    color:#fff;
    background-color: transparent;
}
.shop-button{
    background: #fff;
    border: 0;
    font-size: 14px;
    height: 27px;
    text-transform: uppercase;
    line-height:27px;
    vertical-align: middle;
    color: #4795ac;
    display: inline-block;
    position: absolute;
    right: 0;
    top:13px;
}
.shop-button:hover{
    background: #172838;
}
.shop-button>a{
    color: #4795ac;
    text-decoration: none;
    padding: 0 16px;
}
.merch-items{
    background-color: transparent;
    list-style-type: none;
    padding: 0;
}
.merch-item{
    width: 39%;
    margin-bottom: 13px;
    float: left;
}
.merch-item:first-child{
    margin-right: 6%;
    width: 55%;
    font-size:24px;
    margin-bottom: 0;
}
.merch-img1{
    height: auto;
    background: #fff;
    display: inline-block;
    float: left;
    margin-top: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    max-width:240px;
    width: 57%;
    margin-right: 5%;
}
.merch-img2{
    height: auto;
    background: #fff;
    display: inline-block;
    float: left;
    margin-top: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    max-width:110px;
    width: 57%;
    margin-right: 5%;
}
.merch-img1:hover, .merch-img2:hover{
    cursor: pointer;
}
.merch-name{
    display: inline-block;
    line-height: 1.2;
}
.merch-name>a{
    color: #fff;
    text-decoration: none;
}
.merch-name>a:hover{
    color: #172838;
}
.merch-detail1{
    width: 38%;
    height: 200px;
    display: inline-block;
}
.merch-price1{
    margin-top: 15px;
    color: #fff;
    line-height:1;
}
.merch-price1:hover{
    color: #172838;
    cursor: pointer;
}
.merch-buy-button1{
    background: #fff;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #4795ac;
    height: 33px;
    line-height:33px;
    display: inline-block;
    margin-top:20px;
}
.merch-buy-button1>a{
    color: #4795ac;
    text-decoration: none;
    padding: 8px 18px 5px;
}
.merch-buy-button1:hover{
    background: #172838;
}
.merch-detail2{
    margin-top: 4px;
    width: 52%;
    height: 106px;
    display: inline-block;
}
.merch-price2{
    margin-top: 8px;
    color: #fff;
    line-height:1;
}
.merch-price2:hover{
    color: #172838;
    cursor: pointer;
}
.merch-buy-button2{
    background: #fff;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #4795ac;
    height: 33px;
    line-height:33px;
    display: inline-block;
    margin-top:10px;
}
.merch-buy-button2>a{
    color: #4795ac;
    text-decoration: none;
    padding: 8px 18px 5px;
}
.merch-buy-button2:hover{
    background: #172838;
}
.tweeter{
    text-transform: uppercase;
}
.tweeter-header{
    position: relative;
    padding-bottom: 34px;
}
.tweeter-logo{
    display: inline;
    font-size:40px;
    color:#fff;
    background-color: transparent;
}
.tweeter-button{
    background: #fff;
    border: 0;
    font-size: 14px;
    height: 27px;
    text-transform: uppercase;
    line-height:27px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 0;
    top:13px;
}
.tweeter-button:hover{
    background: #4795ac;
}
.tweeter-button>a{
    color: #172838;
    text-decoration: none;
    padding: 0 16px;
}
.tweeter-content{
    padding: 43px;
    margin: 0 auto 0 0;
    max-width:400px;
    box-sizing: content-box;
}
.tweets{
    background-color: transparent;
    padding: 0;
    list-style-type: none;
}
.tweets li{
    margin-bottom: 24px;
}
.msg{
    background: #234355;
    padding: 16px;
    color: #fff;
    font-size:14px;
    text-transform: none;
    width: 100%;
    position: relative;
}
.msg:after{
    content: '';
    width:0;
    height: 0;
    border-left: solid 13px transparent;
    border-right: solid 13px transparent;
    border-top: solid 20px #234355;
    position: absolute;
    left:20px;
    bottom: -20px;
}
.msg a {
    color: #53adc7;
    text-decoration: none;
}
.msg a:hover{
    color: #fff;
}
.created{
    margin: 7px 0 0 50px;
    color: #fff;
}
.created span{
    color: #53adc7;
    text-transform: none;
}
.footer{
    margin-top: 70px;
    background: #000;
}
.footer-area-fix{
    display: block;
    text-align: center;
    height: 89px;
}
.footer-icomoon{
    padding: 0;
    background-color: transparent;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 30px;
    position: relative;
}
.footer-icomoon li{
    display: inline-block;
    list-style-type: none;
    line-height:normal;
    color: #000;
}
.footer-icomoon li:hover{
    cursor: pointer;
}
.link-facebook:before{
    content: '\ea90';
}
.link-facebook:hover{
    color:#46b8da;
}
.link-twitter:before{
    content: '\ea96';
}
.link-twitter:hover{
    color:#46b8da;
}
.link-youtube:before{
    content: '\ea9d';
}
.link-youtube:hover{
    color:#46b8da;
}
.link-myspace:before{
    content: '\ea92';
}
.link-myspace:hover{
    color:#46b8da;
}
.fs-music{
    background: url("../img/follow-badge_black.svg"), no-repeat;
    height: 24px;
    width: 130px;
}
.ghost{
    min-width: 92px;
}
.spotify-embed{
    min-width: 92px;
    background: #2ebd59;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 4px 3px 8px;
    position: absolute;
    right: 0;
    top:7px;
}
.spotify-embed:hover{
    background: #1ed760;
}
.spotify-icon{
    width: 17px;
    height: 17px;
    display: inline-block;
    position: absolute;
    top:1px;
    left: 2px;
    background: url("../img/sprite@1.png");
    background-position: 0 0;
    border-radius: 50px;
}
.spotify-embed>span{
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.copy-icons{
    height: 30px;
    display: inline-block;
    margin-top: 35px;
}
.copyright{
    display: inline-block;
    background-color: transparent;
    font-size: 12px;
}
.to-black{
    width: 1203px;
    height: 64px;
    color: white;
    background: #000;
    font-weight:200;
    line-height:64px;
    vertical-align: middle;
    margin: 0 auto;
}
.footer-nav{
    list-style-type: none;
    padding: 0;
    background-color: transparent;
    font-size: 11px;
    display: inline-block;
    line-height:0.9;
    margin-left: 200px;
}
.footer-nav>li{
    border-left: solid 1px #fff;
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}
.footer-nav>li:hover{
    color:#46b8da;
}
.footer-nav>li:first-child{
    border: none;
}
.wbr-and{
    float: right;
}
.wbr1{
    background: url("../img/footer_wbr.svg") no-repeat scroll 0 0 transparent;
    width: 26px;
    height: 36px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.wbr2{
    background: url("../img/reprise_logo.svg") no-repeat scroll 0 0 transparent;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}