ul>li {
    display: inline-block;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
table{
    border: 1px solid #ccc;
}
table th, td{
    border: 1px solid #ccc;
}
dt{
    color: brown;
}